<?xml version="1.0"?>
<!--
  BORIS robot description.

  xacro args:
    robot_version  v1 | v2    which BORIS (config/robot/<v>.yaml, urdf/<v>/robot.xacro) [default v1]
    use_neck       true|false neck + camera mount (urdf/<v>/neck.xacro)          [default true]
    use_arm_mount  true|false mounting plate the arm is attached to (no arm model)     [default true]
    arm_z_position <m>        v1: height of the plate on the torso                     [default 0.315]
    use_sick       true|false Sick LMS1xx mount                                        [default true]

  Check it:  xacro boris.urdf.xacro robot_version:=v2 | check_urdf /dev/stdin
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="boris">

  <xacro:arg name="robot_version"  default="v1"/>
  <xacro:arg name="use_neck"       default="true"/>
  <xacro:arg name="use_arm_mount"  default="true"/>
  <xacro:arg name="arm_z_position" default="0.315"/>
  <xacro:arg name="use_sick"       default="true"/>

  <!-- Base: geometry from config/robot/<robot_version>.yaml (defines the base_cfg property) -->
  <xacro:include filename="$(find fbot_description)/urdf/base/base.xacro"/>
  <xacro:fbot_base/>

  <!-- Body, sensors, neck of this robot version -->
  <xacro:include filename="$(find fbot_description)/urdf/$(arg robot_version)/robot.xacro"/>

</robot>
