<?xml version="1.0"?>
<!--
  BORIS robot description.

  xacro args:
    base_version   v1 | v2    Shark base geometry (shark_description/config/<v>.yaml)  [default v1]
    use_neck       true|false neck + camera mount (boris_head_description)             [default true]
    use_arm_mount  true|false empty mounting plate for an arm (no arm model)           [default false]
    arm_z_position <m>        height of the plate on the torso                         [default 0.34]
    use_sick       true|false Sick LMS1xx mount                                        [default true]

  Check it:  xacro boris.urdf.xacro base_version:=v1 | check_urdf /dev/stdin
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="boris">

  <xacro:arg name="base_version"   default="v1"/>
  <xacro:arg name="use_neck"       default="true"/>
  <xacro:arg name="use_arm_mount"  default="false"/>
  <xacro:arg name="arm_z_position" default="0.34"/>
  <xacro:arg name="use_sick"       default="true"/>

  <!-- Base (geometry from shark_description/config/<base_version>.yaml) -->
  <xacro:include filename="$(find shark_description)/urdf/shark_base.xacro"/>
  <xacro:shark_base/>

  <!-- Body, sensors, neck -->
  <xacro:include filename="$(find fbot_description)/urdf/boris_body.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdf/hokuyo.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdf/sick_lms1xx.urdf.xacro"/>
  <xacro:include filename="$(find boris_head_description)/urdf/neck.xacro"/>

  <xacro:dorso parent="base_link"/>

  <xacro:if value="$(arg use_arm_mount)">
    <xacro:arm_mount parent="dorso_link" z="$(arg arm_z_position)"/>
  </xacro:if>

  <xacro:if value="$(arg use_neck)">
    <xacro:neck parent="dorso_link" xyz="${dorso_len/2 + 0.05} 0 ${dorso_height + 0.053}" rpy="0 0 0"/>
  </xacro:if>

  <!-- Lasers (frame names must match sensors_description urg_node configs) -->
  <xacro:sensor_hokuyo parent="base_link" name="ground"
      xyz="${base_len/2 + 0.017 + 0.024} 0 ${0.02 - base_height/2}" rpy="${pi} 0 0"/>
  <xacro:sensor_hokuyo parent="base_link" name="back"
      xyz="${-base_len/2 - 0.017 - 0.024} 0 ${0.02 - base_height/2}" rpy="${pi} 0 ${pi}"/>

  <xacro:if value="$(arg use_sick)">
    <xacro:sick_lms_1xx name="sick" ros_topic="/scan"/>
    <joint name="laser_joint" type="fixed">
      <origin xyz="${base_len/2 + 0.017 + 0.05} 0 ${0.02 + base_height/2}" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="sick_mount_link"/>
    </joint>
  </xacro:if>

  <!-- IMU (frame_id of the bno055 driver must be imu_link) -->
  <xacro:imu parent="base_link" xyz="0 0.06 ${base_height/2 - 0.05}" rpy="${pi} 0 ${-pi/2}"/>

</robot>
